# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
._*

# Linux
*~
.directory

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Editors
.vscode/
.idea/
*.swp

# Temp
*.log
*.tmp
*.bak
